a {
    font-family: 'Fjalla One', monospace;
    font-size: 32px;
    text-align: center;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

div {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.button {
    background-color: #66cccc;
}